.client-projects-page{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.client-projects-header{

    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}
.client-projects-header select{

    width: 25vw;
}

.client-projects-list{

    width: 95%;
    height: 82vh;

    overflow-y: scroll;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.7rem;
    padding: 3vh 2vw;

    display: flex;
    flex-direction: column;

}

.client-projects-list hr{

    color: rgb(95, 96, 97);
}

.client-projects-list h3{


}

.listed-project:hover{
    background-color: #efefef58;
    cursor: pointer;

}

.listed-project h5{
    font-size: 0.9rem;

}


.listed-project p{

    font-size: 0.9rem;
}


.listed-project-head{

    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.listed-project-head h3{
    width: 80%;
    margin: 0;
    font-size: 1.4rem;
    color: #227396b0;
}

.listed-project-head p{

    margin: 0;
}

.listed-project .skills{

    display: flex;
    gap: 10px;
}

.listed-project .skills h6{

    font-size: 0.8rem;
    font-weight: 400;
    color: #ee4950;
    border: 1px solid #ee4950;
    padding: 5px 10px;
    border-radius: 1rem;
}

.listed-project .bids-data{

    display: flex;
    gap: 30px;
    margin-top: 3vh;
}

.listed-project .bids-data p{

    
}

.listed-project .bids-data h6{

    
}