.new-project-page{
    margin: 5vh 3vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 3vh 2vw;
    border-radius: 0.8rem;
}

.new-project-page h3{
    margin-bottom: 4vh;

}

.new-project-form{


}

.new-project-form input{


}

.new-project-form textarea{

    min-height: 28vh;
}

.new-project-form span{
    display: grid;
    grid-template-columns: 31% 67%;
    justify-content: space-between;

}

.new-project-form span input{


}

.new-project-form span p{


}

.new-project-form button{

    width: 100%;
    height: 8vh;
    border: 1.5px solid #ee450e;
    color: #ee450e;
    font-weight: 600;
}

.new-project-form button:hover{

    background-color:#ee450e;
    color: #fff8f6;
    font-weight: 600;
}